/* App.css */

body, html, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.buttonbase {
  background-color: #0465aa; /* Green */
  border: none;
  color: white;
  padding: 6px 32px;
  text-align: center;
  
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}


.gamecard{
  /* style={{ border: '1px solid #ddd', borderRadius: '8px', padding: '16px', width: '200px', textAlign: 'center', cursor:'pointer' }}  */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  text-align: center;
  cursor: pointer;

  transform: scale(1);
  transition: all ease 500ms;
}

.gamecard:hover{
  transform: scale(1.1);
  transition: all ease 500ms;
}

.profile{
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center ;
}