/* App.css */

body, html, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.buttonbase {
  background-color: #0465aa; /* Green */
  border: none;
  color: white;
  padding: 6px 32px;
  text-align: center;
  
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}


.gamecard{
  /* style={{ border: '1px solid #ddd', borderRadius: '8px', padding: '16px', width: '200px', textAlign: 'center', cursor:'pointer' }}  */
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  text-align: center;
  cursor: pointer;

  transform: scale(1);
  transition: all ease 500ms;
}

.gamecard:hover{
  transform: scale(1.1);
  transition: all ease 500ms;
}

.profile{
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center ;
}

/* Body.css */
/* Body.css */
/* Body.css */

.main-container {
  padding: 20px;
  height: 100vh;
  font-family: Arial, sans-serif;


}


.collection-title-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.collection-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    z-index: 1; /* Coloca o título acima da linha */
    padding: 0 20px; /* Espaço ao redor do texto */
    background-color: #f4f4f9; /* Mesma cor do fundo para dar o efeito de corte na linha */
}

.collection-title-line {
    position: absolute;
    top: 50%;
    left: 5%; /* Início da linha a partir da borda esquerda */
    width: 90%; /* Largura da linha quase total */
    height: 4px;
    background-color: #0073e6; /* Cor da linha */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3); /* Sombra na linha */
    transform: translateY(-50%); /* Centraliza verticalmente */
    border-radius: 2px;
}

.game-card:hover{
  cursor: pointer;
  transition: all ease 100ms;
  transform: scale(1.1);
}

.game-image {
  width: 100%;
  height: 180px; /* Controla a altura do contêiner da imagem */
  object-fit: contain; /* Mostra a imagem completa sem cortar */
  padding: 10px;
}

.game-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-title {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin: 5px 0;
}

.game-desc {
  font-size: 12px;
  color: #666;
  margin: 5px 0;
}

.game-platform {
  font-size: 11px;
  font-weight: bold;
  color: #0073e6;
  background-color: #e6f7ff;
  padding: 5px 10px;
  border-radius: 15px;
  margin-top: 8px;
}

.game-stars {
  font-size: 14px;
  color: #f5c518;
  margin-top: 8px;
}

.empty-message {
  font-size: 18px;
  color: #666;
  margin-top: 50px;
}
